/* Modal */
.overlayChat {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
}

.chat-typing-area-wrapper {
  padding: 16px;
}

.chat-area {
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  padding: 0px 16px;
}

.chat-input {
  border: none;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  color: var(--message-text);
  flex: 1;
  background-color: transparent;
}
.chat-input::placeholder {
  color: var(--placeholder-text);
}
.send-button {
  color: #fff;
  background-color: #222123;
  border-radius: 8px;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-button svg {
  width: 20px;
  height: 20px;
}

.modalChatContainer {
  max-width: 900px;
  width: 100%;
  position: fixed;
  height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 18px;
  right: 10px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: 0.5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

@media screen and (max-width: 575px) {
  .modalChatContainer {
    width: 90%;
  }
}
